#version=DEVEL
#ignoredisk --only-use=sda
# Partition clearing information
#clearpart --all --initlabel --drives=sda
clearpart --all --initlabel 
# Use graphical install
graphical
# Use hard drive installation media
#harddrive --dir=None --partition=/dev/mapper/live-base
install --url=http://192.168.1.50/repo/fedora
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s25 --ipv6=auto --activate
network  --hostname=shaphan
# Root password
rootpw --iscrypted $6$uverylongstring
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Firewall
firewall --ssh
# System timezone
timezone America/New_York --isUtc
user --name=leam --password=$6$anotherverylongstring
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
#pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
#pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
#pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
